body{
   background-color:black;
   color: white;
  text-align:center;
   font-family: "courier new:", monospace,serif;

}
.stay{
position:fixed;
top:0px;
margin:0 20px 20px 0;
padding:20px;
color: white;
font-family: "courier new:", monospace,serif;
text-align:left;
font-size: 25px;
font-style:oblique;
}
mark{

	color:800000;
}

.homepage{
  position: relative;
  top:0;
  left:0;
  
}

.entrance1{
  position:relative;
  top:0;
  left:0;
}
.entrance2{
  position:absolute;
  top:365px;
  left:422px;
  width:16%;
  border:1px;
  cursor:pointer;
}
.entrance2 hover{
  background-image:url("keys.png");
  border: 1px solid white;
  color:white;
}


.secondpage{
  position: relative;
  top:0;
  left:0;
  background-color:black;
  width:100%;
}

.big1{
  position:relative;
  top:80%;
  left:-24%;
  width:35%;
  cursor:pointer;
}

.big2{
  position:relative;
  top:20%;
  left:24%;
  width:35%;
  cursor:pointer;
}
.big1 hover{
  background:transparent;
}


.left{
  position:absolute;

}

.right{
  position:absolute;
}




.story figure img{
  position:absolute;
  left:0px;
   width:35%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  
}

.story figure:hover img{  
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor:pointer;
}
.jerry{
  cursor:pointer;

}
.show{
  color:white;
  font-family: "courier new:", monospace,serif;
  margin:180px 0px 5px 0px;
  display:absolute;
  overflow:hidden;
  line-height:45px;
  letter-spacing: .15em;
  animation: typing 2.5s steps(30, end),
  blink-caret .5s step-end infinite;


}
@keyframes typing {
  from { width:60% }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to {border-color: trasnparent }
  50% { border-color: orange }
}

.bossy figure img{
  position:absolute;
  right:0px;

  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  
}
.bossy figure:hover img{  
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor:pointer;
}

.show2{
  margin: 300px 15px 0 150px;
  right:0px;
  top:70%;
  display:absolute;
  overflow:hidden;
  line-height:45px;
  letter-spacing: .15em;
  animation: typing 2.5s steps(30, end),
  blink-caret .5s step-end infinite;

}
@keyframes typing {
  from { width:60% }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to {border-color: trasnparent }
  50% { border-color: orange }
}

.spot figure img{
  position:absolute;
  left:0px;
   width:15%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  
}

.spot figure:hover img{  
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor:pointer;
}

.rachel figure img{
   margin:0px 0px 0px 1100px;
   width:22%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  
}

.rachel figure:hover img{  
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor:pointer;
}



.show4{
  margin: 100px 15px 0 150px;
  right:0px;
  top:70%;
  display:absolute;
  overflow:hidden;
  line-height:45px;
  letter-spacing: .15em;
  animation: typing 2.5s steps(30, end),
  blink-caret .5s step-end infinite;

}
@keyframes typing {
  from { width:60% }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to {border-color: trasnparent }
  50% { border-color: orange }
}

.car figure img{
   position:relative;
   width:22%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  
}

.car figure:hover img{  
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor:pointer;
}

.show5{
  margin: 100px 15px 0 150px;
  right:0px;
  top:70%;
  display:absolute;
  overflow:hidden;
  line-height:45px;
  letter-spacing: .15em;
  animation: typing 2.5s steps(30, end),
  blink-caret .5s step-end infinite;

}
@keyframes typing {
  from { width:60% }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to {border-color: trasnparent }
  50% { border-color: orange }
}








 .main{
  border: 1px solid white;
  padding:1px 5px;
  display:block;
  cursor:pointer;
  position:absolute;
  top: 90%;
  left: 90%;

 }
.main hover{
  background: black;
  color: #fff;
}

.jewlery{
  border: 1px solid white;
  padding:1px 5px;
  display:block;
  cursor:pointer;
  position:absolute;
  top: 90%;
  left: 70%;

 }
.jewlery hover{
  background: black;
  color: #fff;
}











.hide{display:none;}
.hide1{display:none;}
.hide2{display:none;}
.hide3{display:none;}
.hide4{display:none;}
.hide5{display:none;}
.hide6{display:none;}
.hide7{display:none;}




.content{
  font-size:15px;
  margin:180px 15px 5px 220px;
  display:flex;
  overflow:hidden;
  line-height:45px;

  letter-spacing: .15em;
  animation: typing 4.5s steps(30, end),
  blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width:0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to {border-color: trasnparent }
  50% { border-color: orange }
}

.final{
  width:60%;
}

.choice1{
  border: 1px solid white;
  padding:1px 5px;
  display:block;
  cursor:pointer;
  position:absolute;
  top: 90%;
  left: 70%;
}
.choice1 hover{
  background: black;
  color: #fff;
}


.choice2{
  border: 1px solid white;
  padding:1px 5px;
  display:block;
  cursor:pointer;
  position:absolute;
  top: 100%;
  left: 70%;
}
.choice2 hover{
  background: black;
  color: #fff;
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.final {
    animation: blink 0.15s;
    animation-iteration-count: infinite;
}




































