body {
	
    font-family:arial;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 5px;
    margin: 0;
    padding: 50px;
    


}

.about {
 background: #000;
 color: #fff;
}

.about a {
	 color: #fff;
}

h1, h2, h3{

	font-size: 20px;
	margin: 0;
	font-weight: normal;
}

a{
	color: #000;             ------for font color 
}

div{
	margin-bottom: 40px;
}

img{
	margin-bottom: 40px;
}

ul{
	margin: 0;
}
p{
	width:650px;
}
