body {
	
    font-family:arial;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 5px;
    margin: 0;
    padding: 50px;
}



.about {
 background: #000;
 color: #fff;
}

a{ color: #0f0; }
a{ color: #000; }
a {color: #f00; }
.about a {
	 color: #fff;
}



]
h1, h2{

	font-size: 20px;
	margin: 0;
	font-weight: normal;
}

a{
	color: #000;             ------for font color 
}

dic{
	margin-bottom: 40px;
}

img{
	margin-bottom: 40px;
}

yl{
	margin: 0;
}
p{
	width:718px;
}