*{box-sizing:border-box;}

body{
font-family: "courier new:", monospace,serif;
color: white;

text-align:center;
background-color: black;
}

.wrapper{
	width:100%;
	height:100%;
}


.content{
	background:black;
	
}




.option{
	border:1px solid white;
	padding:10px 20px;
	display:inline-block;
	font-size:15px;
	margin: 0 15px 15px 0;
	cursor:pointer;
}

.option:hover, .option.active {
	background:#000;
	color:#fff;
}
.main{
	font-family: "courier new:", monospace,serif;
	font-size: 15pt;
	color: white;
	text-align: center;
	margin-top: 300px;
}
.content.ring{ background: url('../25carat.png'); }
.content.gems{ background: url('../gems.png'); }
.content.ruby{ background: url('../ruby.png'); }

.item{
      text-align:center;
      padding:30px;
      margin: 0 15px 15px 0;
      display:inline-block;
}
.title{
	color:black;
	font-size:25px;
	background-color:#FFFF00;
}



