body {
  background: url('../img/treasure.jpg') no-repeat 50% 50% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hide{
	display:none;
}

.title{
 font-family: monaco, Consolas, "Lucida Console", monospace;
 font-variant: small-caps;
 font-size: 60px;
 color: #fff;
 text-align: center;
}

.first{
    width: 8%;
	position: fixed;
	left:280px;
	top: 600px;
}

.first:hover{
	background-color: yellow;
    
     border-radius: 100%;

}
.second{
	width: 22%;
	position: fixed;
	left:980px;
	top: 500px;
}
.second:hover{
	background-color: yellow;
    border-radius: 50%;
}
.third{
    width: 7%;
	position: fixed;
	left:780px;
	top: 350px;

}

.third:hover{
	background-color: yellow;
	    border-radius: 50%;
    
}

.fourth{
    width: 8%;
	position: fixed;
	left:880px;
	top: 500px;

}

.fourth:hover{
	background-color: yellow;
	    border-radius: 50%;
    
    
}


.f{
    }

.f:hover{
	background-color: yellow;
	    border-radius: 50%;
    
    
}

.swear{
	font-family: monaco, Consolas, "Lucida Console", monospace;
 font-variant: small-caps;
 font-size: 15px;
 color: black;
   
 text-align: center;
 background-color: #ffffff;
opacity: 0.7;
 
}
















