
body{
  
  background-color: black;
  color:white;
  font-family: "courier new:", monospace,serif;

}

.stay{
position:fixed;
top:0px;
margin:0 20px 20px 0;
padding:20px;
color: white;
font-family: "courier new:", monospace,serif;
text-align:left;
font-size: 25px;
font-style:oblique;
}
mark{

  color:800000;
}
.stay1{
position:fixed;
top:0px;
margin:0 20px 20px 0px;
padding:20px;
color: white;
font-family: "courier new:", monospace,serif;
text-align:left;
font-size: 25px;
font-style:oblique;
}


.stay2{
position:fixed;
top:0px;
margin:0 20px 20px 0px;
padding:20px;
color: white;
font-family: "courier new:", monospace,serif;
text-align:left;
font-size: 25px;
font-style:oblique;
}

.stay3{
position:fixed;
top:0px;
margin:0 20px 20px 0px;
padding:20px;
color: white;
font-family: "courier new:", monospace,serif;
text-align:left;
font-size: 25px;
font-style:oblique;
}
.hide1{
  display:none;
}

.hide2{
  display:none;

}

.hide3{
  display:none;
}
.hide4{
  display:none;
}
.hide5{
  display:none;
}
.hide6{
  display:none;
}
.hide7{
  display:none;
}
.hide8{
  display:none;
}
.hide9{
  display:none;
}
.nav-bar1{
  font-size:40px;
  text-orientation:horizontal;
  margin:0 0 0 0px;
  cursor:context-menu;
}
.text{
  font-size:18px;
  text-align:center;
  position: absolute;
  margin:280px 0px 0px 520px;
  font-family: "courier new:", monospace,serif;
  background-color:white; 
  color: black;
  padding: 10px 10px;
  box-sizing: border-box;
  border:4px;
  border-radius: 60px;
 


}
.image{
  width:20%;
  position:absolute;
  margin:0px 0px 0px 550px;
}

.image2{
  position:absolute;
  margin:240px 0px 0px 100px;
}
.text1{
  background-color: white;
  font-size:18px;
  color:black;
  text-align:center;
  position: absolute;
  margin:400px 0px 0px 480px;
  font-family: "courier new:", monospace,serif;
  line-height: 180%;
  padding:50px 50px;
  box-sizing: border-box;
  border:4px black;
  border-radius: 60px;
 
}
  
.text2{
  background-color: white;
  font-size:18px;
  color:black;
  text-align:center;
  position: absolute;
  margin:300px 0px 0px 400px;
  font-family: "courier new:", monospace,serif;
  line-height: 180%;
  padding:50px 50px;
  box-sizing: border-box;
  border:4px black;
  border-radius: 60px;
 
}
.text3{
  background-color: white;
  font-size:18px;
  color:black;
  text-align:center;
  position: absolute;
  margin:200px 0px 0px 300px;
  font-family: "courier new:", monospace,serif;
  line-height: 180%;
  padding:50px 50px;
  box-sizing: border-box;
  border:4px black;
  border-radius: 60px;
 
}
  
.text4{
  background-color: white;
  font-size:18px;
  color:black;
  text-align:center;
  position: absolute;
  margin:200px 0px 0px 400px;
  font-family: "courier new:", monospace,serif;
  line-height: 180%;
  padding:50px 50px;
  box-sizing: border-box;
  border:4px black;
  border-radius: 60px;
 
}


.first{
  margin: -300px 0 0px 100px;
  color:white;
  font-size:12px;
  font-family: "courier new:", monospace,serif;
  animation: blink 5s;
  animation-iteration-count: infinite;

}
.second{
  margin: -300px 0 0px 100px;
  color:white;
  font-size:11px;
  font-family: "courier new:", monospace,serif;
  animation: blink 5s;
  animation-iteration-count: infinite;

}
.third{
  margin: -300px 0 0px 100px;
  color:white;
  font-size:11px;
  font-family: "courier new:", monospace,serif;
  animation: blink 5s;
  animation-iteration-count: infinite;

}
.fourth{
   margin: -300px 0 0px 100px;
  color:white;
  font-size:12px;
  font-family: "courier new:", monospace,serif;
  animation: blink 5s;
  animation-iteration-count: infinite;

}








.butt{
display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 900px 0px 0px 900px;
}

.butt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.butt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.butt:hover span {
  padding-right: 25px;
}

.butt:hover span:after {
  opacity: 1;
  right: 0;
}
.butt2{
display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 0px 0px 900px;
}

.butt2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.butt2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.butt2:hover span {
  padding-right: 25px;
}

.butt2:hover span:after {
  opacity: 1;
  right: 0;
}

.nav-bar2{
  font-size:80px;
  writing-mode: vertical-rl;
  cursor:context-menu;
}

.nav-bar3{
  font-size:90px;
  cursor:context-menu;
  
   margin: -10px 0px 0px 0px;
}


.nav-bar4{
cursor:context-menu;
  font-size: 80px;
  writing-mode: vertical-rl;
  margin:-290px 0px 0px 260px;
}


.parent{
  position:relative;
  top:0;
  left:0;

}


.one{
  position:relative;
  width:100%;
}
.two{
  display: hide;
  position:absolute;
  width:20%;
  margin:-500px 0px 0px 550px;
  -webkit-animation: rotation 2.6s infinite linear;
  }
  @-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


