head{ font-size: 100px;
       font-color: white;
      font-style=background-color: #000;

 }




.c4{ width:400px; }


.cursor{
  cursor:url(http://www.icon100.com/up/3772/128/425-hand-pointer.png), auto;
}

