*{box-sizing:border-box;}

body{
    background-color:yellow;
}
.stay{
position:fixed;
top:0px;
margin:0 20px 20px 0;
padding:20px;
color: white;
font-family: "courier new:", monospace,serif;
text-align:left;
font-size: 25px;
font-style:oblique;
}
mark{
    background-color: black;
    color:yellow;
}
.hide1{
	display:none;
}

}
.number{
    display:none;
}


.homepage{

position:relative;
top:30%;
left:50%;
transform:translate(-50%,-50%);

}

.first{
	position:relative;
}


.circle{
	position:relative;
	width: 800px;
	height: 800px;
	border-radius: 50%;
	display:inline-block;
	background-color:black;
    animation:myfirst 2s;
    -moz-animation:myfirst 2s infinite; 
    -webkit-animation:myfirst 2s infinite;
   
}

@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:black;}
    50%  {background:red;}
    100%   {background:black;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:black;}
    50%  {background:red;}
    100%   {background:black;}
    }

.circle1{
	position:absolute;
	margin:100px 90px 100px 100px;
	width: 600px;
	height: 600px;
	border-radius: 50%;
	display:inline-block;
    animation:myfirst 4s;
    -moz-animation:myfirst 4s infinite; 
    -webkit-animation:myfirst 4s infinite;
   
}

@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }


.circle2{
	position:absolute;
	margin:100px 100px 100px 100px;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	display:inline-block;
    animation:myfirst 7s;
    -moz-animation:myfirst 7s infinite;
    -webkit-animation:myfirst 7s infinite;
    cursor:pointer;
   
}

@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:black;}
    50%  {background:red;}
    100%   {background:black;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:black;}
    50%  {background:red;}
    100%   {background:black;}
    }

.number{
	font-size:185px;
	 font-family: "courier new:", monospace,serif;
    text-align:center;
	margin:100px 100px 100px 100px;
	position:absolute;
	width: 200px;
	height: 200px;
	display:inline-block;
	border-radius:50%;
    animation:myfirst 0.5s;
    -moz-animation:myfirst 0.5s infinite; /* Firefox */
    -webkit-animation:myfirst 0.5s infinite;
    cursor:pointer;
    
	
}
@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }


.second{
    position:relative;
}


.circle3{
    position:relative;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    display:inline-block;
    background-color:black;
    animation:myfirst 1s;
    -moz-animation:myfirst 1s infinite; /* Firefox */
    -webkit-animation:myfirst 1s infinite;
   
}

@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

.circle4{
    position:relative;
    margin:100px 200px 100px 100px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display:inline-block;
    animation:myfirst 3s;
    -moz-animation:myfirst 3s infinite; /* Firefox */
    -webkit-animation:myfirst 3s infinite;
   
}

@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:black;}
    50%  {background:red;}
    100%   {background:black;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:black;}
    50%  {background:red;}
    100%   {background:black;}
    }


.circle5{
    position:relative;
    margin:100px 500px 100px 100px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display:inline-block;
    animation:myfirst 5s;
    -moz-animation:myfirst 5s infinite; /* Firefox */
    -webkit-animation:myfirst 5s infinite;
    cursor:pointer;
   
}

@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }


.number2{
    font-size:185px;
     font-family: "courier new:", monospace,serif;
    text-align:center;
    margin:110px 100px 100px 100px;
    position:relative;
    width: 200px;
    height: 200px;
    display:inline-block;
    border-radius:50%;
    animation:myfirst 1s;
    -moz-animation:myfirst 1s infinite; /* Firefox */
    -webkit-animation:myfirst 1s infinite;
    
    
}
@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }



    .third{
    position:relative;
}


.circle6{
    position:relative;
    margin: -100px 100px 100px 300px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    display:inline-block;
    background-color:black;
    animation:myfirst 3s;
    -moz-animation:myfirst 3s infinite; /* Firefox */
    -webkit-animation:myfirst 3s infinite;
   
}

@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

.circle7{
    position:relative;
    margin:100px 200px 100px 100px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display:inline-block;
    animation:myfirst 1s;
    -moz-animation:myfirst 1s infinite; /* Firefox */
    -webkit-animation:myfirst 1s infinite;
   
}

@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:black;}
    50%  {background:red;}
    100%   {background:black;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:black;}
    50%  {background:red;}
    100%   {background:black;}
    }


.circle8{
    position:relative;
    margin:100px 500px 100px 100px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display:inline-block;
    animation:myfirst 3s;
    -moz-animation:myfirst 3s infinite; /* Firefox */
    -webkit-animation:myfirst 3s infinite;
    cursor:pointer;
   
}

@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }


.number3{
    font-size:185px;
     font-family: "courier new:", monospace,serif;
    text-align:center;
    margin:110px 100px 100px 100px;
    position:relative;
    width: 200px;
    height: 200px;
    display:inline-block;
    border-radius:50%;
    animation:myfirst 1.3s;
    -moz-animation:myfirst 1.3s infinite; /* Firefox */
    -webkit-animation:myfirst 1.3s infinite;
    
    
}
@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }


.fourth{
    position:relative;
}


.circle9{
    position:relative;
    left:-900px;
    top:-500px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    display:inline-block;
    background-color:black;
    animation:myfirst 0.8s;
    -moz-animation:myfirst 0.8s infinite; /* Firefox */
    -webkit-animation:myfirst 0.8s infinite;
   
}

@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

.circle10{
    position:relative;
    margin:100px 200px 100px 100px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display:inline-block;
    animation:myfirst 5s;
    -moz-animation:myfirst 5s infinite; /* Firefox */
    -webkit-animation:myfirst 5s infinite;
   
}

@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:black;}
    50%  {background:red;}
    100%   {background:black;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:black;}
    50%  {background:red;}
    100%   {background:black;}
    }


.circle11{
    position:relative;
    margin:100px 500px 100px 100px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display:inline-block;
    animation:myfirst 7s;
    -moz-animation:myfirst 7s infinite; /* Firefox */
    -webkit-animation:myfirst 7s infinite;
    cursor:pointer;
   
}

@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }


.number4{
    font-size:185px;
     font-family: "courier new:", monospace,serif;
    text-align:center;
    margin:110px 100px 100px 100px;
    position:relative;
    width: 200px;
    height: 200px;
    display:inline-block;
    border-radius:50%;
    animation:myfirst 2s;
    -moz-animation:myfirst 2s infinite; /* Firefox */
    -webkit-animation:myfirst 2s infinite;
    
    
}
@-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:red;}
    50%  {background:black;}
    100%   {background:red;}
    }








.page{
    color:black;
}


.last{ 
position:absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display:inline-block;
    background-color:black;
    margin: -2800px 0 0 800px;
}















.box{
display:inline-block;
padding: 10px 20px 20px 0px;
margin: 0px 15px 50px 28px;
width:175px;
height:175px;
background: url(../img/group1.png) no-repeat; background-size: 350px 175px;
border-radius:100%;
font-size: 20px;
transition: all 700ms ease;
cursor:pointer;
-webkit-animation: blink .5s step-end infinite alternate; 
}

.box:hover{
	background-position: -175px 0;
	transform: rotate(90deg);
}

.box:active {
	transform: rotate(180deg);
}
