*{box-sizing:border-box;}



.hide1{
	display:none;
}

.homepage{

position:relative;
top:30%;
left:50%;
transform:translate(-50%,-50%);



}

.box{
	display:inline-block;
	padding: 10px 20px 20px 0px;
	margin: 0px 15px 50px 28px;
width:175px;
height:175px;
background: url(../img/group1.png) no-repeat; background-size: 350px 175px;
border-radius:100%;
font-size: 20px;
transition: all 700ms ease;
cursor:pointer;
}



.textentry{
	position:absolute;
	top:75%;
	left:60%;
	
	transform: translate(-50%,-50%);
	font-family: helvetica;
    border-radius:100%;
	color: pink;
	width: 90px;
	cursor:pointer;
}
.textentry hover{
	background: white;
  color: #fff;
}



.box:hover{
	background-position: -175px 0;
	transform: rotate(90deg);
}

.box:active {
	transform: rotate(180deg);
}