body {
  
  background-color: black;
  color:white;
  font-family:chalkduster;
  font-size: 20px;
    line-height: 28px;
    letter-spacing: 5px;
 text-align:right;



}
img/Artboard.jpg{
	width:45%;
}


img/asexual.jpg{
	width="100"
}
